body {
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
}
.container {
	padding: 30px;
}
h1 {
	font-size: 30px;
	font-weight: bold;
}
h2 {
	margin-bottom: 5px;
	color: rgb(15, 247, 85);
}
hr {
	margin: 12px 0;
}
p {
	color: yellow;
}
button {
	margin-right: 10px;
	font-size: 14px;
}
button:hover {
	color: red;
}
span {
	margin-right: 10px;
	font-size: 16px;
}
span:hover {
	background: red;
}
.area-img img {
	width: 100px;
	margin-right: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
}